In [2]:
import pandas as pd
import numpy as np

In [3]:
csv_file_path = 'Crime_Data_from_2020_to_Present.csv'

df_raw = pd.read_csv(csv_file_path)

print(df_raw.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
2  Southwest          356         1     480
3   Van Nuys          964         1     343
4  Hollywood          666         2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277

[5 rows x 28 columns]

In [4]:
print(df_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901357 entries, 0 to 901356
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           901357 non-null  int64
 1   Date Rptd       901357 non-null  object
 2   DATE OCC        901357 non-null  object
 3   TIME OCC        901357 non-null  int64
 4   AREA            901357 non-null  int64
 5   AREA NAME       901357 non-null  object
 6   Rpt Dist No     901357 non-null  int64
 7   Part 1-2        901357 non-null  int64
 8   Crm Cd          901357 non-null  int64
 9   Crm Cd Desc     901357 non-null  object
 10  Mocodes         775767 non-null  object
 11  Vict Age        901357 non-null  int64
 12  Vict Sex        781966 non-null  object
 13  Vict Descent    781958 non-null  object
 14  Premis Cd       901347 non-null  float64
 15  Premis Desc     900807 non-null  object
 16  Weapon Used Cd  312268 non-null  float64
 17  Weapon Desc     312268 non-null  object
 18  Status          901357 non-null  object
 19  Status Desc     901357 non-null  object
 20  Crm Cd 1        901346 non-null  float64
 21  Crm Cd 2        65683 non-null   float64
 22  Crm Cd 3        2213 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        901357 non-null  object
 25  Cross Street    142055 non-null  object
 26  LAT             901357 non-null  float64
 27  LON             901357 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 192.6+ MB
None

In [5]:
print(df_raw.shape)

(901357, 28)

In [6]:
pip install azure-storage-blob

Requirement already satisfied: azure-storage-blob in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (12.19.1)
Requirement already satisfied: azure-core<2.0.0,>=1.28.0 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from azure-storage-blob) (1.30.1)
Requirement already satisfied: cryptography>=2.1.4 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from azure-storage-blob) (41.0.2)
Requirement already satisfied: typing-extensions>=4.3.0 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from azure-storage-blob) (4.7.1)
Requirement already satisfied: isodate>=0.6.1 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from azure-storage-blob) (0.6.1)
Requirement already satisfied: requests>=2.21.0 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.31.0)
Requirement already satisfied: six>=1.11.0 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (1.16.0)
Requirement already satisfied: cffi>=1.12 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from cryptography>=2.1.4->azure-storage-blob) (1.15.1)
Requirement already satisfied: pycparser in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.21)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dhyeypatel/anaconda3/lib/python3.11/site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [7]:
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient

In [8]:
ConnectionStringAzureStorage = "DefaultEndpointsProtocol=https;AccountName=cis4400dhyey;AccountKey=Xo19BtGV/9+uXg0u93FpCdbBe5o/8bAbi2vG0rC91Di0Kr3wlC8ddIE6UAI58cpeaq8a3XIfOwBe+AStJHOfUQ==;EndpointSuffix=core.windows.net"
ContainerAzure = "cis4400crimedata"
blob_name = "Crime_Data_from_2020_to_Present.csv"

In [10]:
columns_to_drop = ['Mocodes', 'Crm Cd 3', 'Crm Cd 4', 'Status', 'Status Desc', 'Premis Cd', 'Premis Desc','Part 1-2', 'AREA', 'Rpt Dist No', 'Cross Street']
df_raw.drop(columns=columns_to_drop, inplace=True)

In [11]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901357 entries, 0 to 901356
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           901357 non-null  int64
 1   Date Rptd       901357 non-null  object
 2   DATE OCC        901357 non-null  object
 3   TIME OCC        901357 non-null  int64
 4   AREA NAME       901357 non-null  object
 5   Crm Cd          901357 non-null  int64
 6   Crm Cd Desc     901357 non-null  object
 7   Vict Age        901357 non-null  int64
 8   Vict Sex        781966 non-null  object
 9   Vict Descent    781958 non-null  object
 10  Weapon Used Cd  312268 non-null  float64
 11  Weapon Desc     312268 non-null  object
 12  Crm Cd 1        901346 non-null  float64
 13  Crm Cd 2        65683 non-null   float64
 14  LOCATION        901357 non-null  object
 15  LAT             901357 non-null  float64
 16  LON             901357 non-null  float64
dtypes: float64(5), int64(4), object(8)
memory usage: 116.9+ MB

In [12]:
df_raw.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Used Cd,Weapon Desc,Crm Cd 1,Crm Cd 2,LOCATION,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,Wilshire,510,VEHICLE - STOLEN,0,M,O,NaN,NaN,510.0,998.0,1900 S LONGWOOD AV,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,Central,330,BURGLARY FROM VEHICLE,47,M,O,NaN,NaN,330.0,998.0,1000 S FLOWER ST,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,Southwest,480,BIKE - STOLEN,19,X,X,NaN,NaN,480.0,NaN,1400 W 37TH ST,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,Van Nuys,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,O,NaN,NaN,343.0,NaN,14000 RIVERSIDE DR,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,Hollywood,354,THEFT OF IDENTITY,28,M,H,NaN,NaN,354.0,NaN,1900 TRANSIENT,34.0944,-118.3277

In [21]:
dim_Victim = df_raw[['Vict Age', 'Vict Sex', 'Vict Descent','DR_NO' ]]

In [22]:
dim_Location = df_raw[['AREA NAME', 'LOCATION', 'LAT','LON','DR_NO']]

In [23]:
dim_Weapon = df_raw[['Weapon Used Cd', 'Weapon Desc','DR_NO']]

In [25]:
dim_Crime_Report = df_raw[['Date Rptd', 'DATE OCC', 'TIME OCC','DR_NO']]

In [26]:
fact_table_Crime = df_raw[['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA NAME', 'Crm Cd',
                 'Crm Cd Desc', 'Vict Age', 'Vict Sex', 'Vict Descent', 'Weapon Used Cd',
                 'Weapon Desc', 'Crm Cd 1', 'Crm Cd 2', 'LOCATION', 'LAT', 'LON']]

In [27]:
df_raw['DATE OCC'] = pd.to_datetime(df_raw['DATE OCC'])

In [30]:
df_raw['Date Rptd'] = pd.to_datetime(df_raw['Date Rptd'])

In [31]:
df_raw.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Used Cd,Weapon Desc,Crm Cd 1,Crm Cd 2,LOCATION,LAT,LON
0,190326475,2020-03-01,2020-03-01,2130,Wilshire,510,VEHICLE - STOLEN,0,M,O,NaN,NaN,510.0,998.0,1900 S LONGWOOD AV,34.0375,-118.3506
1,200106753,2020-02-09,2020-02-08,1800,Central,330,BURGLARY FROM VEHICLE,47,M,O,NaN,NaN,330.0,998.0,1000 S FLOWER ST,34.0444,-118.2628
2,200320258,2020-11-11,2020-11-04,1700,Southwest,480,BIKE - STOLEN,19,X,X,NaN,NaN,480.0,NaN,1400 W 37TH ST,34.0210,-118.3002
3,200907217,2023-05-10,2020-03-10,2037,Van Nuys,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,O,NaN,NaN,343.0,NaN,14000 RIVERSIDE DR,34.1576,-118.4387
4,220614831,2022-08-18,2020-08-17,1200,Hollywood,354,THEFT OF IDENTITY,28,M,H,NaN,NaN,354.0,NaN,1900 TRANSIENT,34.0944,-118.3277