In [1]:
import pandas as pd
import numpy as np

In [3]:
csv_file_path = 'Crime_Data_from_2020_to_Present.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

# Display the first few rows of the DataFrame
print(df.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
2  Southwest          356         1     480
3   Van Nuys          964         1     343
4  Hollywood          666         2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277

[5 rows x 28 columns]